.container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.container div:first-child {
  margin-top: 40px;
}

.container div {
  display: flex-start;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 25px;
}
